body {
    background-image: url("assets/images/pexels-photo-670705.jpeg");
}
.bigthing {
    color: orange;
    font-family: 'Bilbo Swash Caps', cursive;
}
.datlogo {
    height: 250px;
    width: 400px;
    margin-top: -50px;
}
