body {
    background-image: url("assets/images/pexels-photo-670705.jpeg");
}
.bigthing {
    color: orange;
    font-family: 'Bilbo Swash Caps', cursive;
}
.datlogo {
   height: 75%;
   width: 75%;
}
.orange-text {
    font-size: 100px;
   position: relative;
   top: 40px;
   font-family: 'Righteous', cursive;
}